.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 112px;
  }
  
  @media (max-width: 1024px) {
    .container {
      padding: 0 30px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0 10px;
    }
  }